@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --spacing-600: 3rem;
    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    --spacing-1600: 8rem;

    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;

    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.5rem;
    --text-2xl-mobile: 2.25rem;

    --rounded-sm: 0.75rem;
    --rounded-lg: 1.5rem;
}

html {
    box-sizing: border-box;
    font-family: 'Outfit', Helvetica;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    padding-block: var(--spacing-1600);
    padding-inline: var(--spacing-600);
    background-color: var(--stone-100);
}

ul {
    list-style: none;
}

.font-regular {
    font-weight: var(--font-regular);
}

.font-semibold {
    font-weight: var(--font-semibold);
}

.font-bold {
    font-weight: var(--font-bold);
}

.text-base {
    font-size: var(--text-base);
    line-height: 150%;
    letter-spacing: 0;
}

.text-lg {
    font-size: var(--text-lg);
    line-height: 100%;
    letter-spacing: 0;
}

.text-xl {
    font-size: var(--text-xl);
    line-height: 100%;
    letter-spacing: 0;
}

.text-2xl {
    font-size: clamp(var(--text-2xl-mobile), 9vw, var(--text-2xl));
    line-height: 100%;
    letter-spacing: 0;
}

.text-stone-900 {
    color: var(--stone-900);
}

.text-stone-600 {
    color: var(--stone-600);
}

.text-brown-800 {
    color: var(--brown-800);
}

.text-rose-800 {
    color: var(--rose-800);
}

.bg-rose-50 {
    background-color: var(--rose-50);
}

.bg-stone-150 {
    background-color: var(--stone-150);
}

.horizontal-divider {
    width: 100%;
    height: 1px;
    line-height: 0;
    letter-spacing: 0;
}

.title,
.subtitle {
    font-family: 'YoungSerif', serif;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.bullet-list-item::before {
    content: "•";
    padding-inline-end: var(--spacing-200);
    color: var(--rose-800);
}

.numbered-list-item::before {
    font-weight: var(--font-bold);
    content: attr(data-index) ".";
    padding-inline-end: var(--spacing-200);
    color: var(--rose-800);
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    max-width: 46rem;
    margin: auto;
    padding-block: clamp(var(--spacing-400), 8vw, var(--spacing-500));
    padding-inline: clamp(var(--spacing-400), 8vw, var(--spacing-500));
    border-radius: var(--rounded-lg);
    background-color: var(--white);
}

img.recipe-image {
    width: 100%;
    height: auto;
    max-height: 18.75rem;
    border-radius: var(--rounded-sm);
}

.details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.overview {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.preparation-time {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding-block: var(--spacing-300);
    padding-inline: var(--spacing-300);
    border-radius: var(--rounded-sm);
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.nutrients {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.nutrient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding-inline: var(--spacing-400);
}

.nutrient * {
    flex: 1;
}